name: Build and Deploy

# 向主干 main 分支推送代码时触发部署
on:
  push:
    branches: [main, master]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 'v24.12.0' # engines >=14, use a stable LTS
          cache: 'npm'
      
      - name: Install dependencies
        run: npm ci
      
      - name: Build project
        run: npm run build
      
      - name: Deploy to EdgeOne Pages
        run: npx edgeone pages deploy dist -n aria2 -t $EDGEONE_API_TOKEN
        env:
          EDGEONE_API_TOKEN: ${{ secrets.EDGEONE_API_TOKEN }}
